<div ng-controller="todoListController">
  <label for="name">Name</label>
  <input type="text" id="name" ng-model="newTodo.name">
  <label for="priority">Priority</label>
  <input type="text" id="priority" ng-model="newTodo.priority">
  <button class="btn btn-primary" ng-click="addTodo(newTodo)">Add Todo</button>
  <ul>
    <li ng-repeat="todo in todos track by $index">
      {{todo.name}} {{todo.priority}}
      <button class="btn btn-primary" ng-click="remove(todo)">Done</button>
    </li>
    <h4>Tasks to do: {{todos.length}}</h4>
  </ul>
  <button class="btn btn-primary" ng-click="clear()">Clear list</button>
</div>
